body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #89c15e;
  font-family: Roboto;
  user-select: none;
}

.header {
  display: flex;
  gap: 30vw;
  width: 60vw;
  padding: 20px;
  color: white;
  border: 3px solid;
  border-radius: 10px;
  margin: 5vh auto;
}

.header > div:nth-child(1) {
  font-size: 4em;
  font-weight: 500;
}

.score-board > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  color: black;
  width: 8vw;
  border-radius: 14px;
}

.score-board > div:nth-child(1) > div:nth-child(1),
.score-board > div:nth-child(2) > div:nth-child(1) {
  font-size: 1.5em;
  font-weight: 600;
  color: #656565;
  margin-top: auto;
}

.score-board > div:nth-child(1) > div:nth-child(2),
.score-board > div:nth-child(2) > div:nth-child(2) {
  font-size: 6.8em;
  font-weight: 600;
  color: #252525;
  margin-bottom: auto;
}

.score-board {
  display: flex;
  gap: 2vw;
}

#the-game {
  margin-top: 5vh;
}

#the-game > svg {
  margin-left: 34vw;
  width: 30vw;
  height: 55vh;
}

.background-triangle {
  fill: transparent;
  stroke: #000000a3;
  stroke-width: 12;
}

.banner {
  position: fixed;
  right: 3vw;
  bottom: 13vh;
  width: 20vw;
  background-color: #004429;
  border: 7px solid white;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}

.banner {
  visibility: hidden;
}

.content > h1 {
  font-size: 2.7em;
  text-align: center;
  margin: auto;
}

.content > ul > li {
  list-style-type: square;
  font-size: 1.7em;
  margin: 7px 0;
}

#banner-openBtn > button {
  position: fixed;
  right: 3vw;
  bottom: 5vh;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  padding: 13px;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  width: 8vw;
  cursor: pointer;
}

#banner-closeBtn {
  position: absolute;
  top: -5vh;
  right: -2vw;
  text-decoration: none;
  background-color: #ff0000;
  color: white;
  font-size: 3em;
  border-radius: 25px;
  width: 2vw;
  height: 5vh;
  text-align: center;
  border: 5px solid white;
  font-weight: 600;
}

#result {
  display: flex;
  gap: 30vw;
  margin-left: 27vw;
  /* justify-content: center; */
  /* visibility: hidden; */
  display: none;
}

.rock,
.paper,
.scissors {
  display: none;
}

.rock > img:nth-child(1) {
  position: absolute;
}

.rock > img:nth-child(2) {
  position: relative;
  justify-items: center;
  left: 41px;
  top: 50px;
}

.paper > img:nth-child(1) {
  position: absolute;
}

.paper > img:nth-child(2) {
  position: relative;
  justify-items: center;
  left: 47px;
  top: 45px;
}

.scissors > img:nth-child(1) {
  position: absolute;
}

.scissors > img:nth-child(2) {
  position: relative;
  justify-items: center;
  left: 63px;
  top: 50px;
}

/* #result > .you-picked > div:nth-child(1) > img:nth-child(1),
#result > .pc-picked > div:nth-child(1) > img:nth-child(1) {
  position: absolute;
}

#result > .you-picked > div:nth-child(1) > img:nth-child(2),
#result > .pc-picked > div:nth-child(1) > img:nth-child(2) {
  position: relative;
  justify-items: center;
  left: 41px;
  top: 50px;
} */
